<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
<nav class="main-nav">
    <div id="name"></div>
    <ul>
        <li><a href="/pages/index.html"><span class="nav-label">Home</span><i class="ti ti-home nav-icon"></i></a></li>
        <li><a href="/pages/friends.html"><span class="nav-label">Friends</span><i class="ti ti-users nav-icon"></i></a></li>
        <li><a href="/pages/createSessions.html"><span class="nav-label">+</span><i class="ti ti-plus nav-icon"></i></a></li>
        <li><a href="/pages/profile.html"><span class="nav-label">Profile</span><i class="ti ti-user nav-icon"></i></a></li>
        <li><button id="logoutBtn"><span class="nav-label">Logout</span><i class="ti ti-logout nav-icon"></i></button></li>
    </ul>
</nav>